<h4 class="container mt-5"><strong>로그인</strong></h4>
<div class="container mt-4">
  <form action="/login" method="POST">
    <div class="form-group my-4">
      <label class="mb-2">이메일</label>
      <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group my-4">
      <label class="mb-2">비밀번호</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-danger fw-bold">Submit</button>
  </form>
</div>